<ActionBar class="action-bar">
  <!-- 
       Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <!-- 
       Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
              ios.position="left">
  </ActionItem>
  <Label class="action-bar-title" text="Evaluation"></Label>
</ActionBar>

<!--
    RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
    Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
    http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
    The RadSideDrawer component is designed to be used as a root element and
    it shouldn't have any other siblings other than the <ActionBar> component.
  -->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
  <!--
      Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->

  <StackLayout tkDrawerContent>
    <MyDrawer [selectedPage]="'Evaluation'"></MyDrawer>
  </StackLayout>
  
  <!--
      Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
  <ScrollView class="page page-content" orientation="vertical" tkMainContent>
    <StackLayout class="eval-stack-layout">
      <DockLayout stretchLastChild="false" >
        <Label text="User states pain from pushing:" class="eval-item" dock="left"></Label>
        <SegmentedBar [items]="PushingPain" [selectedIndex]="getPushingPainIndex()" class="eval-segmentedBar" dock="right" (selectedIndexChanged)="onPushingPainIndexChange($event)"></SegmentedBar>
      </DockLayout>
      <DockLayout stretchLastChild="false">
        <Label text="User States x/10 pain:" class="eval-item" ></Label>
        <Label verticalAlignment="center" dock="right" class="eval-slider-value-label" style="min-width: 50" [text]="settings.pain.toFixed(0)+'%'" row="0" col="1"></Label>
      </DockLayout>
      <GridLayout rows="auto" columns="*, auto">
        <Slider verticalAlignment="center" class="eval-slider" [value]="settings.pain" (valueChange)="onSliderUpdate('pain', $event)" row="0" col="0"></Slider>
      </GridLayout>

      <DockLayout stretchLastChild="false" padding="30,0,0,0">
        <Label text="User states fatigue from pushing:" class="eval-item" dock="left"></Label>
        <SegmentedBar [items]="PushingFatigue" [selectedIndex]="getPushingFatigueIndex()" class="eval-segmentedBar" dock="right" (selectedIndexChanged)="onPushingFatigueIndexChange($event)"></SegmentedBar>
      </DockLayout>
      <DockLayout stretchLastChild="false">
        <Label text="User states x/10 fatigue:" class="eval-item" ></Label>
        <Label verticalAlignment="center" dock="right" class="eval-slider-value-label" style="min-width: 50" [text]="settings.fatigue.toFixed(0)+'%'" row="0" col="1"></Label>
      </DockLayout>
      <GridLayout rows="auto" columns="*, auto">
        <Slider verticalAlignment="center" class="eval-slider" [value]="settings.fatigue" (valueChange)="onSliderUpdate('fatigue', $event)" row="0" col="0"></Slider>
      </GridLayout>

      <DockLayout stretchLastChild="false" padding="30,0,0,0">
        <Label text="User states impact on independence:" class="eval-item" ></Label>
        <Label verticalAlignment="center" dock="right" class="eval-slider-value-label" style="min-width: 50" [text]="settings.independence.toFixed(0)+'%'" row="0" col="1"></Label>
      </DockLayout>
      <GridLayout rows="auto" columns="*, auto">
        <Slider verticalAlignment="center" class="eval-slider" [value]="settings.independence" (valueChange)="onSliderUpdate('independence', $event)" row="0" col="0"></Slider>
      </GridLayout>

      <DockLayout stretchLastChild="false" padding="30,0,0,0">
        <Label text="Years in manual chair:" class="eval-item" ></Label>
        <Label verticalAlignment="center" text="Select" dock="right" class="eval-slider-value-label" style="min-width: 50" row="0" col="1"></Label>
        <!-- <ListPicker [items]="timeFrames" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker> -->

      </DockLayout>

      <DockLayout stretchLastChild="false" padding="30,0,0,0">
        <Label text="Type of chair:" class="eval-item" ></Label>
        <Label verticalAlignment="center" text="Select" dock="right" class="eval-slider-value-label" style="min-width: 50" row="0" col="1"></Label>
        <!-- <ListPicker [items]="timeFrames" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker> -->

      </DockLayout>


      <GridLayout rows="auto" columns="*, auto" >
        <VideoPlayer class="videoPlayer"  src="~/videos/Lesson_small.mov" autoplay="false" height="231" width="auto">
        </VideoPlayer>
      </GridLayout>

      <Button (tap)="onNext()" text="Next" class="nextButton"></Button>

    </StackLayout>
  </ScrollView>
</RadSideDrawer>
