@import '../../../../scss/variables';

.progress {
  color: $permobil-ocean;
  border-radius: 3;
  margin: 0, 15, 0, 15;
}

.title {
  font-family: $os-Light;
  text-align: center;
  font-size: 30;
  padding: 20, 0, 15, 0;
  color: $permobil-charcoal;
}

.otaDescription {
  margin: 0, 15, 10, 10;
  font-family: $os-SemiBold;
  font-size: 14;
  color: $permobil-charcoal;
}

.features {
  padding: 15, 15, 15, 15;
  font-family: $os-Light;
  font-size: 20;
  color: #fff;
  background: $permobil-hero;
}

.featuresLayout {
  background: $permobil-hero;
}

.otaLabel {
  margin: 0, 0, 25, 15;
  font-family: $os-SemiBold;
  font-size: 14;
  color: $permobil-charcoal;
}

.percentagLabel {
  font-family: $os-SemiBold-Italic;
  font-size: 11;
  margin: 0, 0, 0, 15;
  color: $permobil-charcoal;
}
