<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Trial"></Label>
</ActionBar>

<StackLayout class="page page-content hero" tkMainContent>

  <Carousel ios:indicatorOffset="0,-10" indicatorColor="#66ccff" indicatorColorUnselected="#cceeff">
    <CarouselItem *ngFor="let slide of slides">
      <GridLayout background="#fff" rows="auto, *, auto" cols="*">
        <StackLayout row="0" class="topSlide" orientation="horizontal" horizontalAlignment="center">
          <Image [src]="slide.Image" stretch="aspectFit"></Image>
        </StackLayout>

        //First Page: Configure Trial
        <ScrollView row="1" *ngIf="slides.indexOf(slide) == 0">
          <StackLayout class="hero" class="lowerSlide" orientation="vertical" horizontalAlignment="center">

            //Heading and description
            <Label [text]="slide.Label" class="slideLowerLabel" textWrap="true"></Label>
            <Label [text]="slide.Description" class="slideDescription" textWrap="true"></Label>

            //Trial options
            <StackLayout class="trial-stack-layout">
              //Terrain Options
              <DockLayout class="dockLayout-options" stretchLastChild="false">
                <Label text="Flat Surfaces" class="trial-item" dock="left"></Label>
                <Switch dock="right" class="trial-item"></Switch>
              </DockLayout>
              <DockLayout stretchLastChild="false">
                <Label text="Ramp" class="trial-item" dock="left"></Label>
                <Switch dock="right" class="trial-item"></Switch>
              </DockLayout>
              <DockLayout stretchLastChild="false">
                <Label text="Inclines" class="trial-item" dock="left"></Label>
                <Switch dock="right" class="trial-item"></Switch>
              </DockLayout>
              <DockLayout stretchLastChild="false">
                <Label text="Other" class="trial-item" dock="left"></Label>
                <Switch dock="right" class="trial-item"></Switch>
              </DockLayout>

              //SmartDrive Settings 
              //Accelleration
              <DockLayout stretchLastChild="false">
                <Label text="Acceleration Rate" class="trial-item"></Label>
                <Label verticalAlignment="center" dock="right" class="trial-slider-value-label" style="min-width: 50" [text]="settings.accelerationRate.toFixed(0)+'%'"
                  row="0" col="1"></Label>
              </DockLayout>
              <GridLayout rows="auto" columns="*, auto">
                <Slider verticalAlignment="center" class="trial-slider" [value]="settings.accelerationRate" (valueChange)="onSliderUpdate('accellerationRate', $event)"
                  row="0" col="0"></Slider>
              </GridLayout>

              //Max Speed
              <DockLayout stretchLastChild="false">
                <Label text="Max Speed" class="trial-item"></Label>
                <Label verticalAlignment="center" dock="right" class="trial-slider-value-label" style="min-width: 50" [text]="settings.maxSpeed.toFixed(0)+'%'"
                  row="0" col="1"></Label>
              </DockLayout>
              <GridLayout rows="auto" columns="*, auto">
                <Slider verticalAlignment="center" class="trial-slider" [value]="settings.maxSpeed" (valueChange)="onSliderUpdate('maxSpeed', $event)"
                  row="0" col="0"></Slider>
              </GridLayout>

            </StackLayout>


            <button row="2"  text="Next" class="start-button" (tap)="onNext()"></button>
            

            <Button row="2" *ngIf="slides.indexOf(slide) == (slides.length-1)" text="Next" (tap)="onNext()"></Button>
            <Button row="2" *ngIf="slides.indexOf(slide) == 0" text="Back" (tap)="onBack()"></Button>


          </StackLayout>
        </ScrollView>

        //Page 2 Start Trial
        <ScrollView row="1" *ngIf="slides.indexOf(slide) == 1">
          <StackLayout class="hero" class="lowerSlide" orientation="vertical" horizontalAlignment="center">

            //Heading and description
            <Label [text]="slide.Label" class="slideLowerLabel" textWrap="true"></Label>
            <Label [text]="slide.Label_2" class="slideLowerLabel" textWrap="true"></Label>
            <Label [text]="slide.Description" class="slideDescription" textWrap="true"></Label>

            //Trial Name
            <StackLayout class="input-field">
              <TextField hint="Enter trial name" autocorrect="false" (textChange)="onTextChange($event)" (returnPress)="onReturn($event)"
                class="trial-name-textfield"></TextField>

                <button row="2"  text="Start" class="start-button" (tap)="onStartTrial()"></button>

                //Data Fields
                <GridLayout  rows="auto, auto" columns="auto, *, auto, *">
                    <Label row="0" col="0" text="Pushes:" class="value-label-left" textWrap="true"></Label>
                    <Label row="0" col="1" text="0" class="value-left" textWrap="true"></Label>
                    <Label row="0" col="2" text="Coast Time:" class="value-label-right" textWrap="true"></Label>
                    <Label row="0" col="3" text=" 0.0s" class="value-right" textWrap="true"></Label>
                  </GridLayout>
        
                  <GridLayout  rows="auto, auto" columns="auto, *, auto, *">
                      <Label row="0" col="0" text="Time:" class="value-label-left" textWrap="true"></Label>
                      <Label row="0" col="1" text="0 min" class="value-left" textWrap="true"></Label>
                      <Label row="0" col="2" text="Distance:" class="value-label-right" textWrap="true"></Label>
                      <Label row="0" col="3" text=" 0.0m" class="value-right" textWrap="true"></Label>
                    </GridLayout>
            </StackLayout>
          </StackLayout>




        </ScrollView>
      </GridLayout>
    </CarouselItem>
  </Carousel>

</StackLayout>