<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Trial"></Label>
</ActionBar>

<StackLayout class="page page-content" tkMainContent>

  <Carousel ios:indicatorOffset="0,10" indicatorColor="#66ccff" indicatorColorUnselected="#cceeff">
    <CarouselItem  *ngFor="let slide of slides">
      <GridLayout rows="auto, *, auto" cols="*">
	<StackLayout row="0" class="topSlide" orientation="vertical" horizontalAlignment="center">
	  <Image [src]="slide.Image" stretch="aspectFit"></Image>
	</StackLayout>
        <StackLayout row="1" class="lowerSlide" orientation="vertical" horizontalAlignment="center">
          <Label [text]="slide.Label" class="slideLowerLabel" textWrap="true"></Label>
          <Label [text]="slide.Description" class="slideDescription" textWrap="true"></Label>
        </StackLayout>
	<Button row="2" *ngIf="slides.indexOf(slide) == (slides.length-1)" text="Next" (tap)="onNext()"></Button>
	<Button row="2" *ngIf="slides.indexOf(slide) == 0" text="Back" (tap)="onBack()"></Button>
      </GridLayout>
    </CarouselItem>
  </Carousel>

</StackLayout>

