// Custom common variables
@import '../../scss/variables';

.icon{
    font-size: 20em;
    padding: 0, 0, 0, 15;
    color: $permobil-ocean;
    horizontal-align: center;
    vertical-align: center;
}

.info{
    font-family: $os-SemiBold;
    padding: 0, 0, 0, 15;
    color: $permobil-charcoal;
    font-size: 20em;
    vertical-align: center;
}

.heading{
    font-family: $os-SemiBold;
    text-align: left;
    font-size: 20;
    padding: 5;
    color: $permobil-charcoal;
}

.description{
    font-family: $os-Light;
    color: $permobil-charcoal;
    background: #fff;
    padding: 0;
}

NavigationButton{
    width: 35;
    height: 35;
    padding: 15, 0, 0 ,15;
}
