// Custom common variables
@import '../../scss/common';
@import '../../scss/variables';

// Styles for the main parent Grid which contains the various list sections
.list-grid-layout {
  margin: 10, 0, 10, 0;

  .list-heading {
    font-family: $os-SemiBold;
    text-align: left;
    font-size: 20;
    font-weight: 400;
    margin: 5, 10, 5, 10;
    color: $permobil-charcoal;
  }
  .list-description {
    font-family: $os-Light;
    color: $permobil-charcoal;
    font-size: 15;
    font-weight: 400;
    margin: 5, 10, 5, 10;
  }
}

// General List Item Styles
.list-item-layout {
  image {
    background-color: $permobil-hero;
    border: solid;
    border-radius: 4;
    margin: 5, 10, 5, 10;
  }
  label {
    font-family: $os-Light;
    color: $permobil-charcoal;
    font-size: 15;
    font-weight: 400;
    margin: 5, 10, 5, 10;
  }

  .faq-question {
    padding: 15;
    horizontal-align: center;
    vertical-align: middle;
    text-align: center;
    font-size: 17;
    font-weight: 500;
    color: $white;
  }
}

.icon-description-group {
  padding: 0;
  margin: 5, 10, 5, 10;
  width: 150;
}

.demo-item-description {
  font-family: $os-Light;
  color: #fff;
  width: 140;
  font-size: 15;
  font-weight: 400;
  padding: 5;
  margin: 5, 10, 5, 10;
  background-color: $permobil-ocean;
  border: solid;
  border-radius: 3;
}

.chev {
  font-size: 32;
  margin: 5, 5, 0, 0;
}

.main-scroll-view {
  background-color: #fff;
  // padding: 0, 30, 0, 30;
  margin: 0, 0, 0, 0;
  height: 100%;
}

.thumb {
  width: 140;
  height: 140;
  background-color: $permobil-hero;
  margin: 5, 10, 5, 10;
  border: solid;
  border-radius: 4;
}

.video-layout {
  width: 140;
  height: 140;
  margin: 5, 10, 5, 10;

  .video-title {
    height: 140;
    background-image: url('~/assets/images/video-item-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 4;
    label {
      font-family: $os-Light;
      color: $white;
      text-align: center;
      font-size: 16;
      font-weight: 400;
      margin: 4;
      horizontal-align: center;
      vertical-align: middle;
    }
  }

  .video-description {
    font-family: $os-Light;
    color: $permobil-charcoal;
    font-size: 14;
    font-weight: 400;
    margin: 5, 0, 0, 0;
  }
}
