// Custom common variables
@import '../app-variables';

.icon{

    height: 108;
    width: 108;
    color: $permobil-ocean;
}

.heading{

    font-family: "OpenSans-SemiBold", sans-serif;
    text-align: left;
    font-size: 20;
    padding: 5;
    color: $permobil-charcoal;
}

.description{

    font-family: "OpenSans-Light", sans-serif;
    color: $permobil-charcoal;
    background: #fff;
    padding: 0;

}
