@import '../app-variables';

.fa {
    width: 20;
    margin-right: 10;
}

.icon{

    font-family: $fa;
    height: 108;
    width: 108;
    color: $permobil-ocean;
}

.heading{

    font-family: $openSans-SemiBold;
    text-align: center;
    font-size: 20;
    padding: 20,0,15,0;
    color: $permobil-charcoal;
}

.description{

    font-family: $openSans-Light;
    color: $permobil-charcoal;
    background: #fff;
    padding: 5,15,15,15;

}
