<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Training"></Label>
</ActionBar>
<ScrollView class="hero">
<StackLayout class="page page-content hero" tkMainContent>

  <Carousel ios:indicatorOffset="0,-10" indicatorColor="#66ccff" indicatorColorUnselected="#cceeff">
    <CarouselItem  *ngFor="let slide of slides">
      <GridLayout background="#fff" rows="auto, *, auto" cols="*">
	<StackLayout row="0" class="topSlide" orientation="vertical" horizontalAlignment="center">
	  <Image [src]="slide.Image" stretch="aspectFit"></Image>
	</StackLayout>
        <StackLayout class="hero" row="1" class="lowerSlide" orientation="vertical" horizontalAlignment="center">
          <Label [text]="slide.Label" class="slideLowerLabel" textWrap="true"></Label>
          <Label [text]="slide.Description" class="slideDescription" textWrap="true"></Label>
          <Label [text]="slide.Bullet_1" class="bullet" textWrap="true"></Label>
          <Label [text]="slide.Bullet_2" class="bullet" textWrap="true"></Label>
          <Label [text]="slide.Bullet_3" class="bullet" textWrap="true"></Label>
          <Label [text]="slide.Bullet_4" class="bullet" textWrap="true"></Label>
          <Label [text]="slide.Bullet_5" class="bullet" textWrap="true"></Label>
          <Label [text]="slide.Bullet_6" class="bullet" textWrap="true"></Label>
          <Button  class="icon fa" text="&#xf008;"></Button>
          <Button row="2" *ngIf="slides.indexOf(slide) == (slides.length-1)" text="Next" (tap)="onNext()"></Button>
          <Button row="2" *ngIf="slides.indexOf(slide) == 0" text="Back" (tap)="onBack()"></Button>
        </StackLayout>

      </GridLayout>
    </CarouselItem>
  </Carousel>

</StackLayout>
</ScrollView>

