<ActionBar class="action-bar">
  <!-- 
       Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <!-- 
       Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
  </ActionItem>
  <Label class="action-bar-title" text="Demos"></Label>
</ActionBar>

<!--
    RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
    Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
    http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
    The RadSideDrawer component is designed to be used as a root element and
    it shouldn't have any other siblings other than the <ActionBar> component.
  -->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
  <!--
      Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
  <StackLayout tkDrawerContent>
    <MyDrawer [selectedPage]="'Demos'"></MyDrawer>
  </StackLayout>

  <!--
      Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
  <GridLayout class="page page-content" tkMainContent>
    <ListView class="list-group" [items]="demos" (itemTap)="onDemoTap($event)">
      <ng-template let-item="item">
        <GridLayout columns="auto, auto, *" rows="auto, auto, auto">
          <!-- Note: we should probably have model type so that we can have the image pulled from a server according to MX2+ vs MX3 vs others. -->
          <Image row="0" col="0" rowSpan="3" height="75" width="75" margin="10" ios:src="~/images/SmartDrive.jpg" android:src="~/images/SmartDrive.jpg"
            stretch="aspectFit"></Image>

          <Label text="&#xf02a;" row="0" col="1" class="fa icon"></Label>
          <Label [text]="item.SerialNumber" row="0" col="2" class="info"></Label>

          <Label text="&#xf041;" row="1" col="1" class="fa icon"></Label>
          <Label [text]="item.Location" row="1" col="2" class="info"></Label>

          <Label text="&#xf017;" row="2" col="1" class="fa icon"></Label>
          <Label [text]="item.LastUsed" row="2" col="2" class="info"></Label>
        </GridLayout>
      </ng-template>
    </ListView>
  </GridLayout>
</RadSideDrawer>