<ActionBar class="action-bar">
  <!-- 
       Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <!-- 
       Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
              ios.position="left">
  </ActionItem>
  <Label class="action-bar-title" text="Demos"></Label>
</ActionBar>

<!--
    RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
    Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
    http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
    The RadSideDrawer component is designed to be used as a root element and
    it shouldn't have any other siblings other than the <ActionBar> component.
  -->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
  <!--
      Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
  <StackLayout tkDrawerContent>
    <MyDrawer [selectedPage]="'Demos'"></MyDrawer>
  </StackLayout>
  
  <!--
      Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
  <GridLayout class="page page-content" tkMainContent>
    <ListView class="list-group" [items]="demos" (itemTap)="onDemoTap($event)">
      <ng-template let-item="item">
        <StackLayout orientation="horizontal" class="list-group-item">
          <Image row="0" col="0" rowSpan="2" height="108" width="108" src="~/images/SmartDrive.JPG" stretch="aspectFit"></Image>
          <GridLayout class="list-group-item" rows="auto *" columns="*">
	    <StackLayout row="0" col="0" orientation="horizontal">
              <Label text="Serial Number:" class="list-group-item-heading heading"></Label>
              <Label [text]="item.SerialNumber" class="list-group-item-heading heading"></Label>
	    </StackLayout>
	    <StackLayout row="1" col="0" orientation="horizontal">
              <Label text="Last Used:" class="features description" textWrap="true"></Label>
              <Label [text]="item.LastUsed" class="features description" textWrap="true"></Label>
	    </StackLayout>
          </GridLayout>
        </StackLayout>
      </ng-template>
    </ListView>
  </GridLayout>
</RadSideDrawer>
