@import '../../scss/variables';

.user {
  color: $white;
  font-size: 16;
}

.date {
  color: $white;
  font-size: 14;
}

.contact-info {
  color: #dedede;
  font-size: 14;
}

.activity-indicator {
  color: $white;
}
