@import '../../scss/variables';


.pairing {
background-color: $permobil-hero;
}

.ptBackGround {
    background: "~/assets/images/pushTrackerFull.png";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}