// Custom common variables
@import '../../scss/variables';

.topSlide {
  background-image: url('~/assets/images/background_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  Gif {
    vertical-align: middle;
    horizontal-align: center;
  }

  .label {
      vertical-align: middle;
      horizontal-align: center;
      text-align: center;
      font-family: $os-Light;
      font-size: 40;
      margin: 20, 20, 10, 15;
      color: $white;
  }
}

.lowerSlide {
  background-color: $permobil-hero;
  horizontal-align: center;

  StackLayout {
    horizontal-align: center;
    width: 100%;

    .label {
      text-align: left;
      font-family: $os-Light;
      font-size: 25;
      margin: 20, 0, 10, 15;
      color: $white;
    }

    .bullet {
      color: #fff;
      font-family: $os-Light;
      font-size: 13;
      text-align: left;
      margin: 10, 20, 10, 15;
    }

	.item {
		// vertical-align: center;
		text-overflow: none;
		word-wrap: normal;
		color: #fff;
		font-weight: 500;
		margin: 10, 0, 10, 15;
	}

	.slider {
	}

	.slider-label {
		color: #fff;
		font-weight: 500;
		margin: 10, 0, 10, 15;
	}

	.slider-value-label {
		color: #fff;
		min-width: 50%;
		font-family: $os-Light;
		margin: 10, 0, 10, 0;
	}

	.saveButton{
		width: 150;
		color: #fff;
		background-color: $permobil-ocean;
		border-radius: 2;
		margin: 20, 20, 50, 20;
	}

	.dropdown {
		background-color: $permobil-hero;
		placeholder-color: rgba(250, 250, 250, 0.5);
		color: $white;
		border-radius: 2;
		width: 35%;
		padding: 5;
		margin: 5;
		text-align: center;
		vertical-align: center;
		horizontal-align: right;
	}
  }
}
