@import '../../scss/variables';


.clear{
    background-color: rgba($color: #fff, $alpha: 0.0);
}

.title{
    font-family: sans-serif;
    font-size: 30em;
    margin: 20, 0, 0, 0; 
    padding: 10;
}

.description{
    font-family: sans-serif;
    font-size: 15em;
    margin: 0, 0, 10, 0; 
    padding: 10;
}

.pt{
    opacity: 0;
}

.sd{
    opacity: 0;
}