// Custom common variables
@import '../../scss/variables';
@import '../../scss/_carousel';

.grid-layout{
    padding: 20, 10, 20, 10;
    background: transparent;
}

.hero {
    background-color: $permobil-hero;
}

.debug-button {
    width: auto;
    height: 40; 
    color: #fff;
    background-color: $permobil-ocean;
    border-radius: 2;
    //padding: 50, 10, 0, 10;
}
