@import '../../scss/variables';

.login-btn {
  height: 40;
  margin: 20;
}

.forgot {
  margin: 0, 0, 0, 20;
  padding: 0;
  text-align: left;

}

.sign-up {
  margin: 0, 20, 0, 0;
  padding: 0;
  text-align: right;

}
