@import '../../scss/variables';

.hero {
    background-color: $permobil-hero;
}

.icon{
    font-size: 24;
    padding: 0, 0, 0, 15;
    color: #fff;
    horizontal-align: center;
    vertical-align: center;
}

.info{
    padding: 0, 0, 0, 15;
    color: #fff;
    font-size: 16;
    vertical-align: center;
}

.heading{
    text-align: left;
    font-size: 20;
    padding: 5;
    color: #fff;
}

.description{
    color: #fff;
    padding: 0;
}
