@import '../../scss/variables';


.button {
    background-color: $permobil-hero;
    border-color: transparent;
    border-width: 1;
}

.icon{
    font-size: 24;
    margin: 5, 5, 5, 0;
    color: #fff;
    text-align: left;
    vertical-align: center;
}

.icon-scan{
    font-size: 24;
    border: none;
    background-color: transparent;
    color: #FF671F;
    background-color: transparent;
    border-color: transparent;
    border-width: 1 1 1 1;
}

.demo-image {
    margin: 5, 5, 5, 10;
}

.info{
    margin: 0, 10, 0, 0;
    color: #fff;
    font-size: 14;
    text-wrap: true;
    vertical-align: center;
}

.heading{
    text-align: left;
    font-size: 20;
    padding: 5;
    color: #fff;
}

.description{
    color: #fff;
    padding: 0;
}
