@import 'variables';

//Action bar
ActionBar .action-bar-title {
  font: $os;
}

ActionBar.permobil-action-bar {
  background-color: $permobil-hero;
  color: $white;
}

ActionBar.white-action-bar {
  background-color: $white;
  color: $black;
}
