@import 'variables';

.slideLowerLabel {
  text-align: left;
  // width: 100%;
  font-family: $os-Light;
  font-size: 25;
  margin: 20, 0, 10, 10;
  color: $white;
}

.slideLowerLabel_2 {
  text-align: left;
  width: 100%;
  font-family: $os-Light;
  font-size: 25;
  // margin-top: 15;
  color: $white;
}
.slideDescription {
  color: $white;
  font-family: $os-SemiBold;
  font-size: 15;
  text-align: left;
  margin: 20, 0, 10, 10;
}

.topSlide {
  background-color: $white;
}

.lowerSlide {
  background-color: $permobil-hero;
  margin-bottom: 30;
}

.slide-indicator-inactive {
  background-color: $white;
  opacity: 0.4;
  width: 10;
  height: 10;
  margin-left: 2.5;
  margin-right: 2.5;
  margin-top: 0;
  border-radius: 5;
}

.slide-indicator-active {
  background-color: $white;
  opacity: 0.9;
  width: 10;
  height: 10;
  margin-left: 2.5;
  margin-right: 2.5;
  margin-top: 0;
  border-radius: 5;
}
