@import 'variables';

.blue-text-field {
  background-color: rgba(80, 135, 180, 0.5);
  padding: 5;
  margin: 5, 10, 5, 10;
  color: $white;
  border-radius: 2;
  placeholder-color: $permobil-titan;
  width: 100%;
}
