// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

/**** Fonts *****/
$material-icon: 'Material Design Icons', materialdesignicons-webfont;
$fa: FontAwesome, 'FontAwesome', fontawesome-webfont, 'fontawesome-webfont';
$ionicon: ionicons, 'ionicons', Ionicons, 'Ionicons';
$os: 'OpenSans-Regular', 'OpenSans', 'Open Sans', Open Sans;
$os-Light: 'OpenSans-Light', 'OpenSans Light';
$os-SemiBold: 'OpenSans-SemiBold', 'Open Sans SemiBold';
$os-SemiBold-Italic: 'OpenSans-SemiBoldItalic', 'Open Sans SemiBold Italic';
/**************/

// Permobil Colors
$permobil-hero: rgb(0, 79, 126) !default;
$permobil-prussian: rgba(0, 40, 85, 1);
$permobil-primary: rgb(0, 103, 166) !default;
$permobil-ocean: rgb(0, 154, 199) !default;
$permobil-sky: rgba(137, 212, 227, 1);
$permobil-charcoal: rgb(65, 54, 66) !default;
$permobil-steel: rgb(167, 169, 162) !default;
$permobil-titan: rgb(220, 221, 222) !default;
$blue-50: rgba($permobil-hero, 0.5) !default;
$blue-20: rgba($permobil-hero, 0.2) !default;
$blue-10: rgba($permobil-hero, 0.1) !default;

//accents
$permobil-yellow: rgba(251, 255, 34, 1);
$permobil-orange: rgba(255, 103, 31, 1);
$permobil-lime: rgba(196, 214, 0, 1);
$permobil-cousteau: rgba(0, 193, 213, 1);
$permobil-rose: rgba(227, 28, 121, 1);
$permobil-violet: rgba(117, 59, 189, 1);
$permobil-icon-shadow-orange: rgba(255, 103, 31, 0.6);

$success-light: #00e676 !default;
$error-light: #ed473f !default;
$page-icon-color: #d7d7d7 !default;

// Sizes
$page-content-placeholder-font-size: 20;

/**
 * Theme variables overrides
**/

// Colors
$background: #fff;
$primary: lighten(#000, 13%);
$secondary: lighten(#000, 46%);
$disabled: lighten(#000, 62%);
$accent: $permobil-hero;
$error: $error-light;
$warning: $error-light;

//Text colors
$text-color-light: #fff;
$white: #fff;
$black: #000;
$red: #ff0000;
$green: #66ff66;
