@import './variables';

//Action bar
ActionBar[title] {
  font-family: $os;
}

ActionBar.action-bar {
  background-color: $permobil-hero;
  color: $white;
}

ActionBar.white-action-bar {
  background-color: $white;
  color: $black;
}
