<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Videos"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Videos'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->

    <GridLayout class="page page-content"  padding="0" margin="0" rows="auto, *" colomns="*" tkMainContent>

        //WebView for use with local files
        <WebView row="0" col="0" height="231" [src]="videoHtmlString" >
        </WebView>

        //Video player for use with local files
           <!-- <VideoPlayer   src="https://www.youtube.com/watch?v=6_M1J8HZXIk" autoplay="true" height="231">
            </VideoPlayer> -->

            <ListView row="2" col="0" class="list-group" [items]="videos" (itemTap="onItemTapThirdList($event)">

                <ng-template let-video="item">

                    <StackLayout orientation="horizontal" class="list-group-item">

                        <Label row="0" col="0" rowSpan="2" height="108" width="108" class="fa icon" text="&#xf008;"></Label>

                        <GridLayout class="list-group-item" rows="*, *" columns="*">

                            <Label row="0" col="0" [text]="video.Title" class="list-group-item-heading heading"></Label>

                            <TextView class="features" editable="false" textWrap="true"  row="1" col="0" class="description" [text]="video.Description "></TextView>

                        </GridLayout>
                    </StackLayout>
                </ng-template>
            </ListView>








    </GridLayout>









</RadSideDrawer>
