// Custom common variables
@import '../../scss/variables';

.action-item {
  color: $white;
  font-size: 18;
  text-transform: none;
}

.account-item {
  vertical-align: center;
  text-overflow: none;
  text-align: left;
  word-wrap: normal;
  color: $white;
  font-weight: 500;
  margin: 15;
}

.account-text-entry {
  color: $white;
  text-align: right;
  margin: 15;
}

.acct-btn {
  height: auto;
  width: auto;
  background-color: $permobil-ocean;
  margin: 10, 20, 5, 20;
  color: $white;
  font-size: 15;
  font-weight: 300;
}
