
<ScrollView class="page hero" tkMainContent backgroundSpanUnderStatusBar="true">
  <GridLayout 
    rows="auto, auto, auto, auto, auto, auto, auto, auto, auto"
    columns="*, *"
    class="hero"
    verticalAlign="center">
    <Image 
      row="0"
      colSpan="2"
      src="~/images/permobil_logo.png"
      class="logo">
    </Image>	
    <Label 
      row="1"
      colSpan="2"
      class="evalApp">
      <FormattedString>
	<Span text="Smart"></Span>
	<Span text=" Evaluation"></Span>
      </FormattedString>
    </Label>
    <Label 
      row="2"
      colSpan="2"
      class="account-icon fa"
      text="&#xf2be;"
      margin-bottom="25">
    </Label>
    <TextField #email
	       [(ngModel)]="user.email"
	       row="3"
	       colSpan="2"
	       class="selectedTextField"
	       hint="john.doe@email.com"
	       keyboardType="email"
	       autocorrect="false"
	       autocapitalizationType="none">
    </TextField>
    <TextField #password
	       [(ngModel)]="user.password"
	       row="4"
	       colSpan="2"
	       hint="Password"
	       secure="true">
    </TextField>
    <Button 
      row="5"
      colSpan="2"
      [text]="isLoggingIn ? 'Sign in' : 'Sign up'"
      class="submit-button"
      (tap)="submit()">
    </Button>
    <Button 
      row="6"
      colSpan="2"
      [text]="isLoggingIn ? 'Sign up' : 'Back to login'"
      (tap)="toggleDisplay()">
    </Button>
    <Button 
      row="7"
      colSpan="2"
      text="Cancel"
      (tap)="cancel()">
    </Button>
  </GridLayout>
</ScrollView>
