// Custom common variables
@import '../../scss/variables';

.permobil-logo {
  text-align: left;
}

GridLayout {
  margin: 40, 40, 0, 40;
}

.submit-button {
  background-color: $permobil-ocean;
  color: white;
  padding: 10;
  margin-top: 20;
  border-radius: 2;
  width: 150;
}
.extra-button {
  background-color: $permobil-steel;
  color: $permobil-charcoal;
  padding: 10;
  margin-top: 20;
  border-radius: 2;
  width: 150;
}
TextField {
  background-color: rgba(80, 135, 180, 0.5);
  padding: 5;
  margin: 5, 10, 5, 10;
  color: #fff;
  border-radius: 2;
  placeholder-color: $permobil-titan;
}
