// Custom common variables
@import '../../scss/variables';

.thumb {

    width: 125;
    height: 125;
    margin: 15, 5, 15, 15;
    border: solid;
        border-radius: 3;
        // background-color: $permobil-charcoal;
}

.title {
    text-align: left;
    font-size: 17;
    font-weight: 350;
    color: #fff;
    margin: 25, 5, 5, 10;
}

.desc {
    text-align: left;
    font-size: 14;
    font-weight: 300;
    color: #fff;
    margin: 5, 5, 15, 10;
}


