// Custom common variables
@import '../../scss/common';

.thumb {

    width: 125;
    height: 125;
    margin: 15, 5, 15, 15;
    border: solid;
        border-radius: 3;
        // background-color: $permobil-charcoal;
}

.description {
    text-align: left;
    font-size: 16;
    font-weight: 350;
    color: #fff;
    margin: 40, 5, 5, 10;

}
