// Custom common variables
@import '../../scss/variables';

// WebView {
    // width: 120;
    // height: 75;
//     margin: 5, 5, 5, 10;
//     border: solid;
//     border-radius: 3;
// }

.thumb {

    width: 120;
    height: 75;
    margin: 5, 5, 5, 10;
    border: solid;
    border-radius: 3;
}

.title{
    font-family: $os-SemiBold;
    text-align: left;
    font-size: 18;
    margin: 0,0,0,3;
    color: $permobil-charcoal;
}

.description{
    font-family: $os-Light;
    text-align: left;
    font-size: 15;
    font-weight: 300;
    color: $permobil-charcoal;
    margin: 5, 5, 5, 10;

}
