// @import 'my-drawer-item.component';


// .sidedrawer-list-item{
//     padding-left:15
// }
// .sidedrawer-list-item Label{
//     vertical-align:center;
//     // color:$permobil-hero;
// }
// .sidedrawer-list-item .fa{
//         width:20;
//         margin-right:10
//     }
// .sidedrawer-list-item.selected{
//         background-color:#F8F8F8
//     }
// .sidedrawer-list-item.selected Label{
//         // color:$permobil-hero;
//     }

// Custom common variables
@import '../../scss/variables';

$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;

.sidedrawer-list-item {
    padding-left: $sidedrawer-list-item-offset-left;
    Label {
        vertical-align: center;
        // color: $permobil-hero;
    }
    .fa {
        width: $sidedrawer-list-icon-size;
        margin-right: $sidedrawer-list-icon-offset;
    }
    &.selected {
        background-color: $item-active-background;
        Label {
            color: $item-active-color;
        }
    }
}