@import '../../scss/variables';
@import '../../scss/buttons';

.hero {
    color: $permobil-hero;
}

.grayed {

    color: $permobil-charcoal;
}

.ota {
    padding: 5, 10, 5, 10;
    margin: 5, 5, 5, 5;
}

.progress {
    color: $permobil-ocean;
    border-radius: 3;
    margin: 0, 0, 0, 0;
    padding: 0, 0, 0, 0;
}

.title {
    font-family: $os-Light;
    text-align: center;
    font-size: 20;
    padding: 20, 0, 15, 0;
    color: $permobil-charcoal;
}

.otaDescription {
    text-align: center;
    margin: 0, 10, 0, 10;
    font-family: $os-SemiBold;
    font-size: 14;
    color: $permobil-charcoal;
}

.features {
    padding: 15, 15, 15, 15;
    font-family: $os-Light;
    font-size: 20;
    color: #fff;
    vertical-align: center;
}

.featuresLayout {
    height: 30%;
    width: 100%;
}

.otaInfo {
    margin: 0, 0, 0, 0;
    padding: 0, 0, 0, 0;
}

.otaAction {
    font-size: 14;
    margin: 0, 10, 0, 10;
    color: $permobil-hero;
}

.otaLabel {
    margin: 0, 0, 0, 0;
    font-family: $os-SemiBold;
    font-size: 11;
    color: $permobil-charcoal;
}

.otaState {
    margin: 0, 0, 0, 0;
    padding: 5, 5, 5, 0;
    font-family: $os-Light;
    font-size: 14;
    color: $permobil-charcoal;
}

.percentageLabel {
    font-family: $os-SemiBold-Italic;
    font-size: 11;
    margin: 0, 0, 0, 0;
    text-align: right;
    color: $permobil-charcoal;
}

.slide-indicator-inactive{
    background-color: #fff;
    opacity : 0.4;
    width : 10;
    height : 10;
    margin-left : 2.5;
    margin-right : 2.5;
    margin-top : 0;
    border-radius : 5;
}

.slide-indicator-active{
    background-color: #fff;
    opacity : 0.9;
    width : 10;
    height : 10;
    margin-left : 2.5;
    margin-right : 2.5;
    margin-top : 0;
    border-radius : 5;
}
