@import '../../scss/variables';

.text-field {
  background-color: rgba(80, 135, 180, 0.5);
  padding: 5;
  margin: 10, 20, 5, 20;
  border-radius: 2;
  placeholder-color: $permobil-titan;
}

.submit {
    height: 40;
    margin: 20;
}

.label {
  margin: 15, 20, 5, 20;
}

.error {
  font-size: 15;
  font-weight: 300;
  margin: 5, 20, 5, 25;
}
