@import '../../scss/variables';


.label {
    color: $white;
    padding: 5;
    margin: 10 20;
    font-size: 18;
    vertical-align: center;
    text-align: left;
}

.dropdown {
    background-color: $permobil-hero;
    placeholder-color: rgba(250, 250, 250, 0.5);
    color: $background-light;
    border-radius: 2;
    padding: 5;
    margin: 10 20;
    vertical-align: center;
    text-align: right;
}

.text-field {
  background-color: rgba(80, 135, 180, 0.5);
  padding: 5;
  margin: 10, 20, 5, 20;
  border-radius: 2;
  placeholder-color: $permobil-titan;
}

.submit {
    height: 40;
    margin: 20;
}

.error {
  font-size: 15;
  font-weight: 300;
  margin: 5, 20, 5, 25;
}
