@import '../../../../scss/variables';

$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 22;

.sidedrawer-list-item {
  // padding-left: $sidedrawer-list-item-offset-left;
  padding: 10;
  label {
    font-size: 20;
    vertical-align: center;
  }
  .fa {
    width: $sidedrawer-list-icon-size;
    margin-right: $sidedrawer-list-icon-offset;
  }
  &.selected {
    background-color: $item-active-background;
    label {
      color: $item-active-color;
    }
  }
}
