// Custom common variables
@import '../../scss/variables';
@import '../../scss/_carousel';

.eval-stack-layout{
    padding: 20, 10, 20, 10;
    background: transparent;
}

.hero {
    background-color: $permobil-hero;
}

.action-item {
    color: white;
    font-size: 18;
    text-transform: none;
}

.gridImage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

Image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eval-item {
    width: 100%;
    padding: 10, 0, 10, 0;
}

.eval-label {
    vertical-align: center;
    text-overflow: none;
    word-wrap: normal;
    color: #fff;
    font-weight: 500;
    padding: 5;
}

.eval-slider-label {
    color: #fff;
    font-weight: 500;
    padding: 5;
}

.eval-slider-value-label {
    color: #fff;
    font-family: $os-Light;
    horizontal-align: right;
}

.eval-slider {
    padding: 5;
    color: #fff;
    background-color: $permobil-orange;
}

.eval-segmentedBar{
    vertical-align: center;
    selected-background-color: #fff;
    //padding: 0, 15, 0, 0;
    color: #fff;
}

.nextButton{
    width: 150;
    height: 40; 
    color: #fff;
    background-color: $permobil-ocean;
    border-radius: 2;
    //padding: 50, 10, 0, 10;
}

.videoPlayer{
    background: $permobil-charcoal;
    //padding: 30, 0, 0, 0;
    border-radius: 5;
}

.dropdown {
    background-color: $permobil-hero;
    placeholder-color: rgba(250, 250, 250, 0.5);
    color: $background-light;
    border-radius: 2;
    width: 35%;
    padding: 5;
    margin: 5;
    text-align: center;
    vertical-align: center;
    horizontal-align: right;
}


