// Custom common variables
@import '../../scss/variables';

.eval-stack-layout{
margin: 25, 10, 50, 10;
background-color: $permobil-hero;
}

.hero {
  background-color: $permobil-hero;
}

.action-item {
    color: white;
    font-size: 18;
    text-transform: none;
}

image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.eval-item {
  vertical-align: center;
  text-overflow: none;
  word-wrap: normal;
  color: #fff;
  font-family: $os-Light;
  margin: 5, 5, 5, 5;
  // padding: 5, 5, 5, 0;
}

.eval-slider-label {
  color: $permobil-ocean;
  font-family: $os-Light;
  margin: 0, 0, 0, 0;
}

.eval-slider-value-label {
  color: #fff;
  font-family: $os-Light;
  margin: 0, 0, 0, 0;
}

.eval-slider {
  margin: 0, 5, 0, 10;
  color: #fff;
  background-color: $permobil-ocean;
}

.eval-segmentedBar{
    selected-background-color: #fff;
    margin: 5, 0, 5, 0;
    color: #fff;
}

.debug-label {
    border-bottom-width: 2;
    border-bottom-color: gray;
    margin: 20;
    font-weight: bold;
}

.nextButton{
    width: 150;
    height: 40; 
    color: #fff;
    background-color: $permobil-ocean;
    border-radius: 2;
    margin: 50, 10, 0, 10;
}

.videoPlayer{
    margin: 30, 0, 30, 0;
    background: $permobil-charcoal;
    margin: 30, 0, 0, 0;
    border-radius: 5;
   
}


